.add-flashcard-container {
  max-width: 600px;
  margin: auto;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.success-message {
  color: green;
  margin-top: 1rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
}


@media (max-width: 768px) {
  .add-flashcard-container {
    max-width: 100%; 
    padding: 10px; 
  }

  input,
  textarea {
    padding: 0.4rem; 
    font-size: 0.9rem; 
  }

  button {
    padding: 0.4rem 0.8rem; 
    font-size: 0.9rem; 
  }

  .success-message,
  .error-message {
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  input,
  textarea {
    font-size: 0.8rem; 
    padding: 0.3rem; 
  }

  button {
    font-size: 0.8rem; 
    padding: 0.3rem 0.6rem; 
  }

  .success-message,
  .error-message {
    font-size: 0.8rem; 
  }
}
