<app-header
  [title]="'Flashcards'"
  [showSearch]="true"
  [showLogout]="true"
></app-header>

<div class="add-flashcard-container">
  <form [formGroup]="flashcardForm" (ngSubmit)="onSubmit()">
    <div class="form-input">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="controls.name" />
        <mat-error *ngIf="controls.name.invalid">{{
            getErrorMessage(controls.name)
          }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input type="text" matInput [formControl]="controls.description" />
        <mat-error *ngIf="controls.description.invalid">{{
            getErrorMessage(controls.description)
          }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
        <mat-label>Icon</mat-label>
        <input type="file" (change)="onMainFileChange($event)" [formControl]="controls.icon" />
        <mat-error *ngIf="controls.icon.invalid">{{
            getErrorMessage(controls.icon)
          }}</mat-error>
    </div>

    <div formArrayName="pages">
      <div *ngFor="let page of pages.controls; let i = index" [formGroupName]="i">
        <div class="form-input">
          <mat-form-field appearance="fill">
            <mat-label>Question</mat-label>
            <input matInput formControlName="question" />
          </mat-form-field>
        </div>

        <div class="form-input">
            <mat-label>Question Image</mat-label>
            <input type="file" (change)="onFileChange($event, i, 'questionImage')" />
        </div>

        <div class="form-input">
          <mat-form-field appearance="fill">
            <mat-label>Answer</mat-label>
            <input matInput formControlName="answer" />
          </mat-form-field>
        </div>

        <div class="form-input">
            <mat-label>Answer Image</mat-label>
            <input type="file" (change)="onFileChange($event, i, 'answerImage')" />
        </div>

        <button type="button" mat-button (click)="removePage(i)">Remove Page</button>
      </div>
    </div>

    <button type="button" mat-button (click)="addPage()">Add Page</button>
    <button type="submit" mat-button [disabled]="flashcardForm.invalid">Save</button>
    <div
      class="alert alert-warning alert-dismissible fade show mt-2"
      role="alert"
      *ngIf="errorMessage$ | async as error"
    >
      {{ error }}
    </div>
    <div class="mt-2" *ngIf="loading$ | async">Loading</div>
  </form>
</div>
